* {
    margin: 0;
    padding: 0;
}

#carousel {
    text-align: center;
    overflow: hidden;
    width: 3500px;
    height: 100%;
}

img {
    width: 700px;
    height: 300px;
    object-fit: cover;
}

li {
    width: 700px;
    height: 300px; 
    list-style: none;
    float: left;
}